@import "src/style/adaptive";
@import "src/style/colors";

.ButtonGetMore{
  padding: 10px 30px;
  margin-top: 20px;
  @extend %red_background;
  white-space: nowrap;

  & button{
    background: initial;
  }
}