@import "src/style/adaptive";
@import "src/style/colors";
@import "src/style/sizes";

.Header{
  position: fixed;
  width: 100vw;
  height: 140px;
  display: flex;
  align-items: end;
  padding: 0 16px 20px;
  border-bottom: 1px solid $color_accent_75;

  .header__img{
    display: flex;
    flex: 0 1 100px;
  }

  & p{
    @include adaptive-value(font-size, 30, 18, 1);
    @include adaptive-value(line-height, 38, 22, 1);
  }
}