//Адаптивный файл
@import "adaptive";

//Обнуляющий файл
@import "nonestyle";

//Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

//Переменные
$color_bg: #202020;
$color_start_bg: #E5E5E5;
$color_start_text: rgba(255, 255, 255, 0.75);
$color_text: #FFFFFF;
$color_accent: rgba(255, 0, 0, 0.75);


$maxWidthContainer: 940;
$maxWidth: 1920;
$middleWidth: 768px;
$minWidth: 414px;

*{
  font-family: 'Audiowide', cursive;
  font-style: normal;
  font-weight: 400;
  background-color: $color_bg;
  color: $color_text;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

