@import "adaptive";
@import "nonestyle";
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import "colors";
@import "sizes";

*{
  font-family: 'Audiowide', cursive;
  font-style: normal;
  font-weight: 400;
  background-color: $color_bg;
  color: $color_text;
}

