@import "src/style/adaptive";
@import "src/style/colors";
@import "src/style/sizes";

.Home{
  padding-top: 145px;
  display: flex;
  flex: 0 1 100%;
}

.home__content{
  @include adaptive-value(padding-top, 110, 10, 1);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;

  .content__list{
    display: flex;
    justify-content: center;
    gap: 20px 66px;
    margin-bottom: 90px;
    flex-wrap: wrap;
  }

  .content__btn{
    display: flex;
    justify-content: center;
  }
}