@import "src/style/sizes";

.Search{
  position: relative;
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  align-items: center;
  padding: 145px 10px 60px;
}

.search__list{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 285px);
  grid-template-rows: repeat(2, minmax(400px, 1fr));
  gap: 30px;
  
  @media (max-width: $middleWidth) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}